/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    color: #fff;
    padding: 20px 0;
  }
  
  header h1 {
    float: left;
    color: #000000;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    transition: 0.9s;
  }

  nav ul li a:hover{
    background-color: black;
    color: white;

  }
  
  .events {
    padding: 50px 0;
  }
  
  .events h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .event-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .event-card img {
    width: 100%;
    height: auto;
  }
  
  .event-info {
    padding: 20px;
  }
  
  .event-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .event-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }